<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.goodshepherd2011ConnectionString"
            connectionString="Data Source=198.71.241.74;Initial Catalog=goodshepherd2011;Persist Security Info=True;User ID=goodshepherd2011;Password=pbwxsx#sh#45FDsd"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.goodshepherd2011ConnectionString2"
            connectionString="Data Source=198.71.241.74;Initial Catalog=goodshepherd2011;User ID=goodshepherd2011"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.goodshepherd2011ConnectionString1"
            connectionString="Data Source=198.71.241.74;Initial Catalog=goodshepherd2011;User ID=goodshepherd2011;Password=pbwxsx#sh#45FDsd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>