/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family:"Free 3 of 9 Regular";
    src:url("FREE3OF9.eot?") format("eot"),url("FREE3OF9.woff") format("woff"),url("FREE3OF9.ttf") format("truetype"),url("FREE3OF9.svg#Free3of9") format("svg");
    font-weight:normal;
    font-style:normal;

}
